table {
  background-color: #209020;
  color:white;
  border-collapse: collapse;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-bottom: 200px;
}

@media screen and (max-width: 900px){
  table thead {
    display: none;
  }
  table td {
    display: flex;
  }

  table td::before {
    content: attr(label);
    font-weight: bold;
    width: 120px;
    min-width: 120px;
  }
}

tr:hover {
  background-color: #304010;
}

td {
  padding: 5px;
}

.greenTheme strong {
  font-size: 20px;
  color: #103010;
}

h2.greenTheme {
  color: green;
}


input[type=text] {
  background-color: inherit;
  border: 2px solid red;
  border-radius: 5px;
  color: white;
}
