div {
    width: inherit;
    text-align: center;
}

ul {
    margin: auto;
    padding-left: 0;
    display: block;
}

li {
    display: inline-block;
    text-align: center;
    padding: 40px;
    height: 40px;
    width: auto;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #900010;
}
