.about {
  padding-top: 100px;
  color: white;
  text-align: justify;
  text-justify: inter-word;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.copyright {
  color: #900010;
  padding-top: 100px;
  float: left;
	text-align: center;
	bottom: 0px;
	width: 100%;
}
